<div class="container mx-auto mb-10">
  <div class="w-full flex justify-center py-6">
    <div class="text-3xl"><%= t("views.titles.privacy")%></div>
  </div>

  <br>Wind.Horseは，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。<br>
  <br>
  <br>
  <div class="font-bold">お客様から取得する情報</div>
    <li>当社は、お客様から以下の情報を取得します。
      <ul class="list-inside pl-4">
        <li>1.氏名（ニックネーム含む）</li>
        <li>2.メールアドレス</li>
        <li>3.写真や動画</li>
        <li>4.外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
        <li>5.当社アプリの起動時間、入力履歴、購買履歴等の当社アプリの利用履歴</li>
        <li>6.当社ウェブサイトの滞在時間、入力履歴等の当社アプリの利用履歴</li>
      </ul>
    </li>
  <br>
  <br>
  <div class="font-bold">お客様の情報を利用する目的</div>
    <li>当社は、お客様から取得した情報を以下の目的で利用します。
      <ul class="list-inside pl-4">
        <li>1.当社サービスに関する登録の受付、お客様の本人確認、認証のため</li>
        <li>2.お客様の当社のサービスの利用履歴を管理するため</li>
        <li>3.お客様に対して情報を提供するため</li>
        <li>4.当社のサービスに関するご案内のため</li>
        <li>5.当社サービスにおけるお客様の行動履歴を分析し、当社サービスの維持改善に役立てるため</li>
        <li>6.当社の規約や法令に違反する行為に対応するため</li>
        <li>7.当社のサービスの変更、提供中止、終了、契約解除をご連絡するため</li>
        <li>8.お客様からのお問い合わせに対応するため</li>
        <li>9.当社規約の変更等を通知するため</li>
        <li>10.以上の他、当社サービスの提供、維持、保護及び改善のため</li>
      </ul>
    </li>
  <br>
  <br>
  <div class="font-bold">安全管理のために講じた措置</div>
    <li>当社が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</li>
  <br>
  <br>
  <div class="font-bold">お客様の情報の第三者提供</div>
    <li>当社はお客様から取得する情報の内、個人データ（個人情報保護法第16条第3項）に該当するものについては、あらかじめお客様の同意を得ずに、第三者（国内外にあるものを含みます）に提供しません。</li>
    <li>但し、次の場合は除きます
      <ul class="list-inside pl-4">
        <li>1.個人データの取り扱いを外部に委託する場合</li>
        <li>2.当社や当社サービスが買収された場合</li>
        <li>3.事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します）</li>
        <li>4.その他、法律によって合法的に第三者提供が許されている場合</li>
      </ul>
    </li>
  <br>
  <br>
  <div class="font-bold">アクセス解析ツール</div>
    <li>当社は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するのもではありません。Cookieを無効にすれば、これらの情報の収集を拒否することが出来ます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。
      <ul class="list-inside pl-4">
        <%= link_to "Googleアナリティクス利用規約", "https://marketingplatform.google.com/about/analytics/terms/jp/", target: "_blank", class: "underline text-blue-500" %>
      </ul>
    </li>
  <br>
  <br>
  <div class="font-bold">プライバシーポリシーの変更</div>
    <li>当社は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施工時期と内容を適切な方法により周知または通知します。</li>
  <br>
  <br>
  <div class="font-bold">お問い合わせ</div>
    <li>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は以下のリンクよりご連絡ください。
      <ul class="list-inside pl-4">
        <%= link_to "お問い合わせ", "#", class: "underline text-blue-500" %>
      </ul>
    </li>
    <li>情報の開示請求については、開示の有無にかかわらず、ご申請1件あたり1000円の事務手数料を申し受けます。</li>
</div>