<div class="relative h-screen">
  <!-- 背景にGIFを設定 -->
  <!--
  <div class="absolute inset-0 flex justify-center items-center bg-cover bg-center z-0" style="background-image: url('path/to/your-gif.gif');">
    <div class="text-3xl text-white">Wind.HORSE</div>
  </div>
  -->

  <!-- タイトル表示 -->
  <div class="absolute inset-0 flex justify-center items-center">
    <div class="text-3xl">Wind.HORSE</div>
  </div>

  <!-- ボタン表示 -->
  <div class="absolute bottom-16 w-full flex justify-center">
    <%= link_to '風を読む', select_search_datas_path, class: "text-2xl bg-green-600 p-3 text-white" %>
  </div>
</div>
