<div class="relative h-screen flex justify-center items-center bg-black/50 text-white">
  <div class="absolute inset-0 bg-cover bg-center blur-sm" style="background-image: url('<%= asset_path("keiba_home.png") %>');">
  </div>

  <div class="relative z-10 text-center">
    <h1 class="text-4xl font-bold sm:text-5xl">Wind.HORSE</h1>
    <p class="mt-4 text-lg sm:text-xl">競馬場の風の情報を取得出来るアプリです</p>

    <div class="mt-8">
      <%= link_to '風を読む', select_search_datas_path, class: "text-lg sm:text-xl bg-green-600 hover:bg-green-700 text-white py-3 px-8 rounded-full shadow-lg transition duration-300" %>
    </div>
  </div>
</div>
