<div class="absolute top-56 w-full flex justify-center mx-auto space-x-8">
  <div class="relative z-50">
    <%= form_with url: courses_show_path, method: :get, id: "course-form", data: { turbo_method: :get, turbo_stream: true } do |form| %>
      <%= form.hidden_field :location, value: params[:location] %> <!-- 競馬場の場所を送信 -->
      <%= form.select :course_option, [
          ["芝 1200m","芝 1200m"],
          ["芝 1400m","芝 1400m"],
          ["芝 1400m内","芝 1400m内"],
          ["芝 1400m外","芝 1400m外"],
          ["芝 1600m","芝 1600m"],
          ["芝 1600m内","芝 1600m内"],
          ["芝 1600m外","芝 1600m外"],
          ["芝 1800m","芝 1800m"],
          ["芝 2000m","芝 2000m"],
          ["芝 2000m内","芝 2000m内"],
          ["芝 2000m外","芝 2000m外"],
          ["芝 2200m","芝 2200m"],
          ["芝 2300m","芝 2300m"],
          ["芝 2400m","芝 2400m"],
          ["芝 2500m","芝 2500m"],
          ["芝 3000m","芝 3000m"],
          ["芝 3200m","芝 3200m"],
          ["芝 3400m","芝 3400m"],
          ["砂 1000m","砂 1000m"],
          ["砂 1200m","砂 1200m"],
          ["砂 1300m","砂 1300m"],
          ["砂 1400m","砂 1400m"],
          ["砂 1600m","砂 1600m"],
          ["砂 1800m","砂 1800m"],
          ["砂 1900m","砂 1900m"],
          ["砂 2100m","砂 2100m"],
          ["砂 2500m","砂 2500m"]
        ] %>
      <%= form.submit "表示" %>
    <% end %>
  </div>
</div>