<header class="bg-blue-400 h-16">
  <nav class="flex justify-between items-center h-16">
    <div class="absolute left-6">
      <%= link_to "トップ", root_path, class: "text-white text-lg" %>
    </div>

    <div class="flex space-x-8 absolute right-6">
      <%= link_to "風を読む", select_search_datas_path, class: "text-white text-lg" %>
      <%= link_to "マイページ", '#', class: "text-white text-lg" %>
      <%= link_to "ログアウト", destroy_user_session_path, class: "text-white text-lg", data: { turbo_method: :delete } %>
    </div>
  </nav>
</header>