<div data-controller="dropdown">
  <div class="relative h-screen">
    <!-- 見出し -->
    <div class="absolute top-16 w-full flex justify-center">
      <div class="text-3xl">競馬場を選択してください</div>
    </div>

    <!-- ドロップダウンメニューのコンテナ -->
    <div class="absolute top-28 left-1/2 transform -translate-x-1/2 w-auto">
      <!-- ボタン -->
      <button data-dropdown-target="button" type="button" class="inline-flex justify-center w-64 rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none" id="options-menu" aria-haspopup="true" aria-expanded="true">
        選択してください
        <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>

      <!-- 選択肢のドロップダウン -->
      <div data-dropdown-target="dropdown" class="origin-top-right absolute left-0 mt-2 min-w-full rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
        <div class="py-1" role="none">
          <!-- 選択肢1 -->
          <div class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer" data-action="click->dropdown#selectOption">東京</div>
          <!-- 選択肢2 -->
          <div class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer" data-action="click->dropdown#selectOption">京都</div>
          <!-- 選択肢3 -->
          <div class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer" data-action="click->dropdown#selectOption">新潟</div>
        </div>
      </div>
    </div>

    <!-- 次のページに送信するフォーム -->
    <form id="selectionForm" action="/search_datas/new" method="get" class="absolute bottom-36 left-1/2 transform -translate-x-1/2">
      <input type="hidden" name="location" data-dropdown-target="hiddenInput" id="selected-location">
      <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded">今の風を読む</button>
    </form>
  </div>
</div>